body {
	margin:0; 
	padding:0; 
	line-height: 1.4em; 
	word-spacing:1px; 
	letter-spacing:0.2px; 
	font: 13px Arial, Helvetica,"Lucida Grande", serif; 
	color: #000;

}

/*Remove Element*/

#paper {
	box-shadow: none;
	background-color: none;
	margin: auto;
	padding: 1.5em;
	width: 100%;
	

}

.prt-address {
	font: 1.5em Arial, Helvetica,"Lucida Grande", serif; 
	color: #222;
	display: inline;
	margin: 1em auto;

}
.prt-address p {

}
#grad {
	color: transparent;
}
.pic .pic1 {
	border: none;
}
 #nav {
 	display: none;
 }

 .title {
 	color: #000;
 	font-weight: bold;
 	margin-bottom: 0;
 }
.intro {
	border: none;
	margin: 7em auto 0 auto;
	color: #000;
	padding: 1.5em;

	
}



section ul li {
	font-size: 1.3em;



}

.pic {

	display: none;
}
.contact {
	display: none;
}
#container {
	margin: 0 1em;
	padding: 0;
}
/*Break Page*/
#navExperience {
	page-break-before: always;
}


/*John, born in Ghana but currently living in the US, is an amazing gentleman who focuses his time
in building exceptionally great websites by using HTML/CSS and balsamiq mockups.

When John is not coding he enjoys playing basketball with High School and Middle School students
and mentoring them. 

John loves singing but haven't gotten a lot of opportunities to, sad but very hopeful that my 
breakthrough will come very soon at a karaoke bar.

Teams are amazing different talents in one place working intelligently to solve problems.
This is why John is part of DOS-VEJAS. Here at DOS-VEJAS the coding fun never ends.

This is me and I loving getting to know people and I am glad you are here. Thanks*/