
body{
	color: white;
	background-color: white;
}

header{
	
}

h3 {
	font-family: 'Droid Serif', serif;
}

/* Navigation bar */
#nav {
	width: 60%;
	margin: 0 auto -5% 1%;
	
	color: #7A1F5C;
	font-weight: normal;
	font-size: 1em;
	text-align: center;

}

#nav li {
	list-style: none;
	display: inline;
	margin-right: 20px;
}

#nav a {
	font-size: 1em;
	font-weight: bold;
	color: #7A1F5C;
	text-decoration: none;
}
#nav a:hover {
	color: #7A1F5C;
	text-decoration: underline;
}

/* Quotation Statement on top of window */
.intro {
	width: 80%;
	height: auto;
	margin: 5% 0 0 10%;

	color: #990099;
	font-weight: normal;
	
	text-align: center;

}
.intro p {
	font-size: 1.2em;
}

.intro span {
	font-weight: bold;
}


/* JOHN ALLSWELL SANNI-THOMAS banner on top */
.title {
 	font-family: 'Droid Serif', serif;
 	font-size: 3em;
 	border-radius: 20px;
 	margin-left: 1px;
 	padding: 15px;
 	background-color: #660033;
 }

h1{
	text-align: left;
	padding: 0 1em;
	border: 2px solid yellow;
	margin: 2em;
	font: 400 45px/0.5 'Courgette', Helvetica, sans-serif;

}


/* Middle and content of page */

section h4 {

	font-weight: lighter;
	font-size: 14px;
	padding: 0px 0px 0px 10px;
	font-style: oblique;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

section ul li {
	font-family: Verdana, serif;

	list-style-type: none;
	line-height: 2em;
	padding:  2em 0;


}

section .bold {
	font-weight: bolder;
}

section a {
	text-decoration: none;
}

section a:hover {
	text-decoration: underline;
}

section{
	color: black;
	background-color: white;
	width: 70%;
	border-radius: 20px;


}
/* Separate Section for contact and Projects */
.contact {
	float: right;
	width: 25%;
	padding: 5px;
	font-size: 1em;
	font-family: Garamond, serif;
}





/* Holder for section which contains content */
#container{
	margin: 0 10%;
}


/* Wraps around the web page should implement wrapper syntax */
#page{
	width: 90%;
	margin: 5% auto;

}

/* Control for first image "dp.jpg"*/
.pic1 {
	display: none;
}

img{
	height:175px;
	width: 175px;
	float: left;
	border-radius: 20px;
}

/* For 2nd header */
h5 {

	font-style: normal;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.3em;

}
 
p {
  font: 400 14px/1.5 'Average', Times, serif;
}





/* When page is 1175px wide */


@media screen and (min-width:700px) and (max-width: 1175px){

	body{
		background-color: white;
		overflow-x: hidden;
		max-width: 100%;
	}
	header {
		width: 95%;

		margin: 0 5%;
	}




	#page {

		width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	#top {
		width: 100%;
		margin: 0 5%;

	}

	.pic {
		
		display: none;
	}
	.pic1 {
		display: inline-block;
		width: 100%;
	}
	img {
		height: 50%;
		width: 70%;
		margin: 0 15%;
		position: relative;
	}

	.title {
		font-size: auto;
		display: inline-block;
		text-align: center;
		
	}
	#my-name {
		width: 70%;
		margin: 0 auto;

	}


	.intro {
	width: 100%;
	height: auto;
	margin: 5% 5% 0 0;
	text-align: center;
	color: #990099;
	font-weight: normal;
	font-style: oblique;
	text-align: center;

	}
	.intro p {
		font-size: 1.2em;
	}

	.intro span {
		font-weight: bold;
	}

	section{
		width: 95%;
		
		margin: 0;
	}


	.contact-view {
		
		width: 95%;
		display: inline-block;
		float: left;
		margin: 0;
	}

	.top-exp {
		margin-top: 25%;
	}


	#container {
		width: 95%;
		margin: 0 5%;
	}



	#nav {
		display: none;
	}


}


/* When page is 700px wide */


@media screen and (min-width:200px) and (max-width: 700px){

	body{
		background-color: white;

		overflow-x: hidden;
		max-width: 100%;
	}
	header {
		width: 100%;

		margin: 0 5%;
	}

	h1{
	text-align: left;
	padding: 0 1em;
	
	margin: 2em 1em 1em 0;
	font-family: 'Courgette', Helvetica, sans-serif;
	font-size: 2em;

	}

	section h4 {

	font-weight: lighter;
	font-size: 13px;
	padding: 0px 0px 0px 10px;
	font-style: oblique;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	}

	section ul li {
		font-family: Verdana, serif;
		font-size: 12px;
		list-style-type: none;
		line-height: 1em;
		padding:  1em 0;


	}

	/* For 2nd header */
	h5 {

	font-style: normal;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.8em;
	}
	 
	p {
	  font-family: 'Average', Times, serif;
	  font-size: 14px;
	  font-weight: bold;
	}


	#top {
		width: 100%;
		margin: 0 5%;

	}

	.pic {
		
		display: none;
	}
	.pic1 {
		display: inline-block;
		width: 70%;
	}
	img {
		height: 50%;
		width: 70%;
		margin: 0 15%;
		position: relative;
	}

	.title {
		font-size: 1em;
		display: inline-block;
		text-align: center;
		margin: 0 5%;
		padding: 1%;
		border-radius: 2px;
		
	}
	#my-name {
		width: 70%;
		margin: 0;

	}


	.intro {
	width: 100%;
	height: auto;
	margin: 5% 5% 0 0;
	text-align: center;
	color: #990099;
	font-weight: normal;
	font-style: oblique;
	text-align: center;

	}
	.intro p {
		font-size: 1em;
	}

	.intro span {
		font-weight: bold;
	}

		section{
		width: 100%;
		
		margin: 0;
	}


	.contact-view {
		
		width: 100%;
		display: inline-block;
		float: left;
		margin: 0;
	}

	.top-exp {
		margin-top: 25%;
	}


	#container {
		width: 100%;
		margin: 0;
	}



	#nav {
		display: none;
	}

}	

