*{
	border: 2px solid black;
}
body{
	color: white;
	background-color: red;
}

header{
	
}

h3 {
	font-family: 'Droid Serif', serif;
}

#nav {
	width: 60%;
	margin: 0 auto -5% 1%;
	
	color: #7A1F5C;
	font-weight: normal;
	font-size: 1em;
	text-align: center;

}

#nav li {
	list-style: none;
	display: inline;
	margin-right: 20px;
}

#nav a {
	font-size: 1em;
	font-weight: bold;
	color: #7A1F5C;
	text-decoration: none;
}
#nav a:hover {
	color: #7A1F5C;
	text-decoration: underline;
}


#left-info ul li {

	display: inline;
	list-style-type: none;
	line-height: 1em;
	padding-top: 20px;
	position: relative;
	
}

#left-info {
	float: left;
	width: 900px;
	margin: 0 20%;
}

.intro {
	width: 80%;
	height: auto;
	margin: 5% 0 0 10%;

	color: #990099;
	font-weight: normal;
	
	text-align: center;

}
.intro p {
	font-size: 1.2em;
}

.intro span {
	font-weight: bold;
}



.title {
 	font-family: 'Droid Serif', serif;
 	font-size: 3em;
 	border-radius: 20px;
 	margin-left: 1px;
 	padding: 15px;
 	background-color: #660033;
 }

h1{
	text-align: left;
	padding: 0 1em;
	border: 2px solid yellow;
	margin: 2em;

}

section h4 {

	font-weight: lighter;
	font-size: 14px;
	padding: 0px 0px 0px 10px;
	font-style: oblique;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

section ul li {
	font-family: Verdana, serif;

	list-style-type: none;
	line-height: 2em;
	padding:  2em 0;


}

section .bold {
	font-weight: bolder;
}

section a {
	text-decoration: none;
}

section a:hover {
	text-decoration: underline;
}

section{
	color: black;
	background-color: white;
	width: 70%;
	border-radius: 20px;


}

.contact {
	float: right;
	width: 25%;
	padding: 5px;
	font-size: 1em;
	font-family: Garamond, serif;
}

.projects {
text-align: center;
font-weight: bold;
}



#left-info {
	display: inline-block;
	width: 40%;
}
#container{
	margin: 0 10%;
}

#page{
	width: 90%;
	margin: 5% auto;

}

img{
	height:175px;
	width: 175px;
	float: left;
	border-radius: 20px;
}

h1 {
  font: 400 45px/0.5 'Courgette', Helvetica, sans-serif;
}
h5 {

	font-style: normal;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.3em;

}
 
p {
  font: 400 14px/1.5 'Average', Times, serif;
}

/* When page is 1175px wide */
@media screen and (max-width: 1175px){

	body{
		background-color: purple;
	}

	#page {

		width: 100%;
	}

	section{
		width: 100%;
		float: left;
	}
	.tablet-view {
		width: 100%;
		display: inline-block;
	}
	#container {
		width: 100%;
	}
}

@media screen and (max-width: 700px){

	body{
		background-color: purple;
	}

	section{
		width: 100%;
	}
}